bootstrap.sh
.env
app/core/__pycache__
tests/integration/__pycache__
app/core/__pycache__/
app/api/routers/__pycache__

app/api/routers/__pycache__/root.cpython-313.pyc
app/api/routers/__pycache__/health.cpython-313.pyc
app/api/handlers/__pycache__/exception_handler.cpython-313.pyc
scripts/bootstrap

*.pyc
*__pycache__/
