# Python
__pycache__/
*.pyc
*.pyo

# Environment
.env
.venv/

# Tools cache
.pytest_cache/
.ruff_cache/
.mypy_cache/

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Distribution
dist/
*.egg-info/

# Data
data/
config/
